html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    min-height: calc(100vh - 40px); /* Adjust as needed */
    margin: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1; /* Allow it to grow to fill the available space */
    height: calc(100vh - 160px); /* Adjust height based on header and footer */
}

.left-container {
    flex-basis: 33.33%;
    padding-right: 15px;
    overflow-y: auto; /* Enable scrolling if content exceeds height */
}

.right-container {
    flex-basis: 66.67%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
